.list {
  all: unset;
  padding: 10px;
  display: block;
  li {
    all: unset;
    a {
      all: unset;
      cursor: pointer;
      width: min-content;
      display: block;
      transition: transform 0.5s linear;
    }
    a:hover {
      transform: translateX(10px);
    }
  }
}

.title {
  margin: 0;
  color: rgb(16, 33, 117);
}
