.infoUser {
  border: 1px solid rgb(232, 230, 230);
  max-width: max-content;
  padding: 5px;
}

.foto {
  width: 100px;
  display: block;
  margin: auto;
}
a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

.button {
  background-color: rgb(216, 224, 231);
  background-color: #e8e8e8;
  background-color: #fcfbfb;
  max-width: max-content;
  padding: 5px;
  transition: border-radius 0.5s linear, background-color 0.5s linear;
}

.button:hover {
  border-radius: 5px;
  background-color: rgb(251, 252, 254);
}
