a {
  all: unset;
  display: inline-block;
  cursor: pointer;
  width: max-content;
  P {
    margin: 5px 0px;
  }
}

.button {
  background-color: rgb(216, 224, 231);
  padding: 5px;
  transition: border-radius 0.5s linear, background-color 0.5s linear;
}

.button:hover {
  border-radius: 5px;
  background-color: rgb(251, 252, 254);
}
