.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #92c898;
  padding: 5px;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
  box-sizing: border-box;
  main {
    
    border-bottom: 1px solid white;
  }
}
