.root {
  display: grid;
  height: max-content;
  padding: 0px 5px 5px;
  border: 1px solid rgb(216, 224, 231);
  margin-bottom: 15px;
}

.foto {
  grid-area: foto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding: 5px 0px 5px;
}

.use_conteiner {
  height: 110px;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas:
    'foto name'
    'foto sity'
    'foto data';
  column-gap: 5px;
  h3 {
    grid-area: name;
    display: flex;
    align-items: center;
    margin: 0;
    P {
      margin: 0;
      padding-left: 5px;
      font-weight: 400;
    }
  }
  p {
    grid-area: sity;
  }
  span {
    grid-area: data;
  }
}

.massage {
  max-width: 100%;
  overflow-wrap: anywhere;
  font-size: 24px;
  background-color: rgb(222, 232, 234);
  margin: 0;
  padding: 5px 5px;
}
