.overflow {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #92c898;
  .form_contener {
    display: flex;
    height: 100vh;
    .form {
      width: 50vh;
      height: 50vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid aliceblue;
      border-radius: 5px;
      padding: 10px;
      .buttoncloseform {
        color: rgb(26, 25, 25);
        border: 1px solid white;
        position: relative;
        width: 70px;
        text-align: center;
        background-color: aliceblue;
        border-radius: 3px;
        top: -40px;
        right: -330px;
        cursor: pointer;
      }
      .buttoncloseform:hover {
        text-shadow: 1px 1px #524e4e;
      }
      .title {
        color: aliceblue;
        margin: 0px auto;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
      }
      input {
        height: 20px;
      }
      .error {
        height: 20px;
        max-width: 100%;
        font-size: 10px;
        line-height: 10px;
        color: brown;
        text-align: center;
      }
      .button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        text-align: center;
        background-color: rgb(216, 224, 231);
        margin: 0px auto;
        color: black;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
      .buttonOff {
        cursor: none;
        color: rgb(119, 115, 115);
      }

      .button:hover {
        text-shadow: 1px 1px #524e4e;
      }
      .buttonOff:hover {
        text-shadow: none;
      }
    }
  }
}
