.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 1px solid rgb(232, 230, 230);
  padding: 5px;
  input {
    height: 20px;
    font-size: 15px;
  }

  .error {
    min-height: 15px;
    max-width: 100%;
    font-size: 15px;
    line-height: 15px;
    color: brown;
    text-align: center;
    padding: 5px 0px 5px;
  }
  .conteinerAgeGender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 200px;
    margin: 0 auto;
  }
  .age {
    width: 35px;
  }
  .radio {
    width: 15px;
    margin: 0;
  }
}

.buttonForm {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 224, 231);
  text-align: center;
  width: 250px;
  margin: 0px auto 5px;
  padding: 5px;
  cursor: pointer;
  transition: border-radius 0.5s linear, background-color 0.5s linear;
}

.buttonFormOff {
  cursor: none;
  color: rgb(72, 72, 72);
}

.buttonForm:hover {
  border-radius: 5px;
  background-color: rgb(251, 252, 254);
}

.buttonFormOff:hover {
  border-radius: 0px;
  background-color: rgb(216, 224, 231);
}

.button {
  display: block;
  max-width: max-content;
  margin: 10px 0px 0px 0px;
  p {
    margin: 0;
  }
}
