@keyframes go-left-right {        
  from { left: 0px; }             
  to { left: calc(100px); } 
}

.header{
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.animation{
  display: flex;
  &::after{
    content: '';
    animation: go-left-right 1s cubic-bezier(1, 0.5, 0.5, 1) infinite alternate;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
  }
  &::before{
    content: '';
    animation: go-left-right 2s cubic-bezier(1, 0.5, 0.5, 1) infinite alternate;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 3, 3);
  }
}

.afterAnimation{
  animation: go-left-right 3s cubic-bezier(1, 0.5, 0.5, 1) infinite alternate;
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(248, 252, 3);
}

.title {
  position: relative;
  margin: 10px 0px 0px;
  padding-bottom: 15px;
  padding-left: 10px;
  width: max-content;
 
}